/*==========================================
    brand area
==========================================*/
.brand-area .brand-carousel .single-brand-logo {
  padding: 0 15px; }
  .brand-area .brand-carousel .single-brand-logo img {
    width: 100%; }
