/*==========================================
    team area
==========================================*/
.team-area .single-member .part-text h3 {
  text-align: center; }

.team-area .single-member .part-text h4 {
  text-align: center; }

.team-area .single-member .part-text p {
  text-align: center; }

.team-area .single-member .part-social {
  text-align: center; }
