.img-height-40{
    height: 40px !important;
}

.propic{
    width: 100%;
}
.text-decoration{
    text-decoration: none !important;
}
.margin-top-20{
    margin-top: 20px !important;
}

.dot-border-css{
    border-style: dotted;
    padding: 20px;
    border-left: none;
    border-right: none;
}
.font-invoice{
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .offset-3 {
     margin-left: 0; 
}
    .offset-4 {
     margin-left: 0;
}
}

 rect:nth-child(even){
            fill: #8e44ad;
        }
        rect:nth-child(odd){
            fill: #2980b9;
        }

        .card-header {
            padding: 0.40rem 1.25rem;
            /*background: #8c7ae6;*/
            background: #2f353b;
            color: white;
            font-size: 20px;
        }

        .widget-small .info h4{
            font-size: 15px;
        }
        .widget-small{
            margin-bottom: 0px;
        }

        .card{
            margin-bottom: 20px!important;
            border: 1px solid #2f353b;
        }

        @media (min-width:312px) and (max-width:480px) {
            .widget-small {
                margin-bottom: 20px!important;
            }
        }

button#btn_add {
    margin-bottom: 10px;
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    top: 380px !important;
}

fieldset
{
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}

legend
{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}
.sp-replacer.sp-light {
    height: 38px;
}
